:root {
    --font-title: 24px;
    --font-text: 18px;
    --background-rainbow: linear-gradient(
      90.06deg,
      
      #13678A,
      #45C4B0,
      #FACFCE
    );
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  body {
    background: var(--background-rainbow);
    display: grid;
    place-items: center;
    height: 100vh;
    font-family: "Overpass";
    color: #302f2f;
  }

  h1 {
    text-transform: uppercase;
    font-size: var(--font-title);
    font-weight: bold;
    padding: 30px 0;
    border-radius: 0px 30px 0px 0px;
  }
  label,
  input {
    font-size: var(--font-text);
    font-weight: normal;
    color: #302f2f;
  }
  label {
    padding-right: 5px;
  }
  input:focus {
    outline: none;
  }
  form input {
    background: #f1f1f1f1;
    border-radius: 11px;
    border: 1px solid  white;
    padding: 5px 0 5px 10px;
  }
  
  #btn {
    padding: 8px 20px;
    border: solid 3px;
    border-image: conic-gradient(#13678A, #45C4B0, #FACFCE ) 1;
    border-radius: 3px;
    background: white;
    margin-bottom: 30px;
    cursor: pointer;
  }
  #btn:hover, a:hover {
    transform: scale(1.2);
    background: #32A1A2;
    color: white
  }
  #res{
    margin: 10px 0;
    font-size: var(--font-text);
    max-width: 205px;
  }
  

  
  .d-flex-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0px;
  }
  .title-section {
    background-color: rgba(255, 255, 255, 0.116);
    border-radius: 0px 18px 0px 0px;
    border: 0.1px solid #fffdfd4b;
  }
  .d-flex-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card-section {
    background: rgba(255, 255, 255, 0.34);
    border: 1px solid #fffdfd;
    border-radius: 0px 18px 0px 0px;
    padding: 30px;
  }